.dateSelect {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 300px;
  margin: 40px 0 32px;
  padding: 50px;
  justify-content: space-evenly;
  border: 1px solid darkgray;
}

.inputContainer {
  display: flex;
  justify-content: center;
  transform: translateX(31px);
}