$color-white: #fff;
$color-light-green: #9adb66;
$color-semi-green: #88d04e;
$color-gray: #969697;
$color-light-gray: #e5e5e5;
$color-semi-gray: #c9cbcf;
$color-black: #000000;
$color-light-black: #121212;
$color-red: #e64646;
$color-blue: #103780;
$color-light-blue: #3974e0;

$color-bg: #fafafc;

$color-header-icon-bg: #1c1c1d;
$color-header-badge-bg: #ff3347;

$color-separator-text: rgba(0, 0, 0, 0.4);

$color-input-border-inactive: #eff0f3;

$color-button-icon-check: #74c335;
$color-button-icon-cross: #6abc28;

$color-gradient-1: #7dd27c;
$color-gradient-2: #fee600;
$color-gradient-3: #fcb664;
$color-gradient-4: #f46363;

$color-switcher-bg: #d5d5d6;

$color-badge-bg: #323232;
$color-badge-inactive: #ebebeb;
