@import '../../../asserts/scss/colors';
@import '../../../asserts/scss/helpers/helpers';

.screen {
  position: relative;
  width: $fullscreen-width;
  height: $fullscreen-height;
  background: $color-bg;
  overflow-x: hidden;
}

.container {
  display: flex;
  overflow-x: hidden;
}

.backImg {
  background-image: url('./mainback.jpg');
  background-size: 3000px 2000px;
  height: 100vh;
  width: 100vw;
}
