// example constants for animation
$fast: 0.2s;
$moderate: 0.3s;
$slow: 0.5s;
$very-slow: 0.7s;

$header-height: 140px;

$form-width: 300px;
$form-width-email: 360px;
$checkbox-icon-size: 20px;
$checkbox-height: 40px;

$border-radius: 5px;

$input-height: 40px;

$progress-height: 15px;

$slider-size: 15px;

$switcher-width: 40px;
$switcher-height: 25px;
$switcher-border-radius: 25px;

$fullscreen-width: 100vw;
$fullscreen-height: 100vh;
$full: 100%;

$card-width: 300px;
$card-grid-gap: 40px;
